POSTGRES_DB=sad_cnr
POSTGRES_USER=sad
POSTGRES_PASSWORD=sad123
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

OSRM_URL=http://localhost:5000
OSRM_PORT=5000

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/sad_cnr
SPRING_DATASOURCE_USERNAME=sad
SPRING_DATASOURCE_PASSWORD=sad123
